{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to{% endblock title %}
{% block styles %}
    .starter-template {
        color: #251F1F;
        }
{% endblock styles %}

{% block jumbotron %}
    <div class="container">
        <div class="jumbotron">
            <p>This example is a quick exercise to illustrate how the default, static and fixed to the top navbar
                works. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
            </p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="/" role="button">View navbar docs &raquo;</a>
            </p>
        </div>
    </div>
{% endblock jumbotron %}

{% block content %}
    <div class="starter-template">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        {% if product.productimage_set.all %}
                            {% for item in product.productimage_set.all %}
                                {% if item.featured %}
                                    <img class="img-responsive" src="{{ item.image.url }}"/>
                                {% else %}
                                    <img class="img-responsive" src="{% static 'img/default.jpg' %}"/>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <img class="img-responsive" src="{% static 'img/default.jpg' %}"/>
                        {% endif %}
                        <div class="caption">
                            <a href="{% url 'single_product' product.slug %}"><h4>{{ product.title }}</h4></a>
                            <p>{{ product.description }}</p>
                            <p><a class="btn btn-primary" role="button" href="{% url 'single_product' product.slug %}">
                                view
                            </a></p>
    <!--                    <a href="{{ product.get_absolute_url }}">{{ product }}</a>-->
                            {{ product.price }}
                        </div>
                    </div>
                </div>
            {% cycle "" "" "</div><br/><hr/><div class='row'>" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block jquery %}
    {# comments here #}
    //alert("Welcome!");
{% endblock jquery %}
