<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">Pulse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_products' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register/Login</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Men</a>
                  <a class="dropdown-item" href="#">Women</a>
                  <a class="dropdown-item" href="#">Kids</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart_view' %}">Cart
                    <span class="badge badge-pill badge-light">
                        {% if not request.session.items_total %}
                            0
                        {% else %}
                            {{ request.session.items_total }}
                        {% endif %}
                    </span>
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a class="nav-link" href="#">Account</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/s/">
            <input class="form-control mr-sm-2" type="text" name="k" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
